.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  background-color: #A6D1E6;

  @media (min-width: 768px) {
    padding: 15px 120px;
  }

  &__eur-rate,
  &__usd-rate,
  &__title {
    color: #3D3C42;
  }

  &__rates {
    display: flex;
    align-items: center;
    gap: 15px;

    @media (min-width: 768px) {
      gap: 115px;
    }
  }
}
