<div class="converter">
  <h1>Convert currency</h1>
  <div class="converter__from">
    <h3>From: </h3>

    <input
      class="converter__from-value"
      type="number"
      [value]="fromCurrencyValue | currencyPipe"
      (change)="changeFromCurrencyValue($event)"
    >

    <select (change)="changeFromCurrencyName($event)">
      <option
        *ngFor="let currency of currencyList"
        [value]="currency"
        [selected]="currency === fromCurrencyName"
      >
        {{currency}}
      </option>
    </select>
  </div>

  <div class="converter__to">
    <h3>To: </h3>
    <input
      class="converter__to-value"
      type="number"
      [value]="toCurrencyValue | currencyPipe"
      (change)="changeToCurrencyValue($event)"
    >

    <select (change)="changeToCurrencyName($event)">
      <option
        *ngFor="let currency of currencyList"
        [value]="currency"
        [selected]="currency === toCurrencyName"
      >
        {{currency}}
      </option>
    </select>
  </div>
</div>
